body {
    background-color: black;
    background-image: url("asests/AAAABbauvZUIbNI6eImkX0EwPlLebgDbp8L48Xe64L1PTlib80vNFhTrLrEseISN4EOZPrh3j5hZQ0i4S-ww252OcuaGjIzM0pvDUjlJ.jpg"); 
    background-repeat: no-repeat;
    background-size: cover;
    color: white;

    
}

img {
    height: 200px;
    border: 5px solid white;
    border-radius: 40px;
}

footer p {
    color: grey;
}
h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: xx-large;
    padding: 70px;

}